{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="#" />
    <meta charset="utf-8" />
    <meta name="author" content="Nyasha Chizampeni" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A comprehensive school management system."
    />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href='{% static "images/favicon.png" %}' />
    <!-- Page Title  -->
    <title>EndFrame</title>
    <!-- StyleSheets  -->
    <link
      rel="stylesheet"
      href='{% static "assets/css/dashlite.css?ver=3.2.2" %}'
    />
    <link
      id="skin-default"
      rel="stylesheet"
      href='{% static "assets/css/theme.css?ver=3.2.2"%}'
    />
  </head>

<body class="nk-body ui-rounder npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn btn-white btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                                <div class="brand-logo pb-5">
                                  
                                </div>
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Reset Password</h5>
                                        <div class="nk-block-des">
                                            <p> We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes</p>
                                        </div>
                                    </div>
                                </div><!-- .nk-block-head -->
                                <div class="form-note-s2 pt-5">
                                   
                                    
                                </div>
                                <!-- form -->
                                <div class="form-note-s2 pt-5">
                                    <a href="{% url 'account_login' %}"><strong>Return to login</strong></a>
                                </div>
                            </div><!-- .nk-block -->
                            <!-- .nk-block -->
                        </div><!-- .nk-split-content -->
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="nk-feature nk-feature-center">
                                    <div class="nk-feature-img">
                                        <img class="round" src="{% static 'images/slides/promo-c.png' %}" srcset="{% static 'images/slides/promo-c2x.png 2x' %}" alt="">
                                    </div>
                                
                                </div>
                            </div>
                        </div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    
    <script src="{% static 'assets/js/bundle.js?ver=3.2.2' %}"></script>
    <script src="{% static 'assets/js/scripts.js?ver=3.2.2' %}"></script>
    <!-- select region modal -->
    <!-- .modal -->

</html>