{% load static %}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="#" />
    <meta charset="utf-8" />
    <meta name="author" content="Nyasha Chizampeni" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="A utility management system."
    />
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href='{% static "images/favicon.png" %}' />
    <!-- Page Title  -->
    <title>EndFrame</title>
    <!-- StyleSheets  -->
    <link
      rel="stylesheet"
      href='{% static "assets/css/dashlite.css?ver=3.2.2" %}'
    />
    <link
      id="skin-default"
      rel="stylesheet"
      href='{% static "assets/css/theme.css?ver=3.2.2"%}'
    />
  </head>

<body class="nk-body ui-rounder npc-general pg-auth">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-split nk-split-page nk-split-lg">
                        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                                <a href="#" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                            </div>
                            <div class="nk-block nk-block-middle nk-auth-body">
                             
                                
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Sign-Up</h5>
                                        
                                    </div>
                                </div><!-- .nk-block-head -->
                                <form method="post">
                                    {% if form.errors %}
                                        <div class="alert alert-pro alert-danger">
                                            <ul>
                                                {% for field, errors in form.errors.items %}
                                                    <li><strong>{{ field|capfirst }}</strong>:
                                                        {% for error in errors %}
                                                            <span>{{ error }}</span>
                                                        {% endfor %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% csrf_token %}
                                    {{ form.as_p }} <!-- Render form fields as paragraphs -->
                                    <button class="btn btn-lg btn-primary btn-block my-1" type="submit">Sign Up</button>
                                  </form>
                                
                            </div><!-- .nk-block -->
                            <!-- .nk-block -->
                        </div><!-- .nk-split-content -->
                        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
                            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <img class="round" src="{% static 'images/slides/promo-a.png' %}" srcset="{% static 'images/slides/promo-a2x.png 2x' %}" alt="">
                                            </div>
                                            
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <img class="round" src="{%  static 'images/slides/promo-b.png' %}" srcset="{% static 'images/slides/promo-b2x.png 2x' %}" alt="">
                                            </div>
                                            
                                        </div>
                                    </div><!-- .slider-item -->
                                    <div class="slider-item">
                                        <div class="nk-feature nk-feature-center">
                                            <div class="nk-feature-img">
                                                <img class="round" src="{% static 'images/slides/promo-c.png' %}" srcset="{% static 'images/slides/promo-c2x.png 2x' %}" alt="">
                                            </div>
                                            
                                        </div>
                                    </div><!-- .slider-item -->
                                </div><!-- .slider-init -->
                                <div class="slider-dots"></div>
                                <div class="slider-arrows"></div>
                            </div><!-- .slider-wrap -->
                        </div><!-- .nk-split-content -->
                    </div><!-- .nk-split -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="{% static 'assets/js/bundle.js?ver=3.2.2' %}"></script>
    <script src="{% static 'assets/js/scripts.js?ver=3.2.2' %}"></script>
    <!-- select region modal -->
    <!-- .modal -->

</html>