ansicon==1.89.0
asgiref==3.7.2
asttokens==2.4.1
blessed==1.20.0
bpython==0.24
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
crispy-bootstrap5==0.7
cryptography==42.0.7
curtsies==0.4.2
cwcwidth==0.1.9
decorator==5.1.1
defusedxml==0.7.1
Django==5.0
django-allauth==0.59.0
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-payments==2.0.0
django-phonenumber-field==8.0.0
django-simple-history==3.7.0
et-xmlfile==1.1.0
executing==2.0.1
greenlet==3.0.3
idna==3.6
ipython==8.19.0
jedi==0.19.1
jinxed==1.2.1
loguru==0.7.2
matplotlib-inline==0.1.6
oauthlib==3.2.2
openpyxl==3.1.5
parso==0.8.3
paynow==1.0.7
pexpect==4.9.0
phonenumberslite==8.13.43
pillow==10.4.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.22
Pygments==2.17.2
PyJWT==2.8.0
python-decouple==3.8
python3-openid==3.2.0
pyxdg==0.28
requests==2.31.0
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
traitlets==5.14.0
tzdata==2024.1
urllib3==2.1.0
wcwidth==0.2.12
whitenoise==6.5.0
win32-setctime==1.1.0
