{% extends 'layouts/base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
<div class="nk-content my-5">
    <div class="container-fluid">
        <div class="nk-block nk-block-lg">
            <div class="nk-block-head">
                <div class="nk-block-between g-3">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Subscriptions</h3>
                        <div class="nk-block-des text-soft">
                            <p>Choose your pricing plan and start enjoying our service.</p>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-block-head -->

            <form method="POST" action="{% url 'select_subscription_plan' billing_profile.pk %}">
                {% csrf_token %}
                <div class="row g-gs">
                    {% for subscription in plans %}
                    <div class="col-sm-6 col-md-4">
                        <div class="card pricing text-center">
                            <div class="pricing-body">
                                <div class="pricing-media">
                                    <img src="{% static 'images/icons/plan-s1.svg' %}" alt="">
                                </div>
                                <div class="pricing-title w-220px mx-auto">
                                    <h5 class="title">{{ subscription.name }}</h5>
                                    <span class="sub-text">{{ subscription.description }}</span>
                                </div>
                                <div class="pricing-amount">
                                    <div class="amount">{{ subscription.price_per_site }}<span>/month</span></div>
                                </div>
                                <div class="pricing-action">
                                    <button type="submit" name="subscription_plan" value="{{ subscription.id }}" class="btn btn-primary">Select Plan</button>
                                </div>
                            </div>
                        </div><!-- .pricing -->
                    </div><!-- .col -->
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
