{% load static %}

<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1">
                <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
            </div>
            <div class="nk-header-brand d-xl-none">
                <a href="#" class="logo-link">
                    <img class="logo-light logo-img" src="{% static 'images/png/logo-black.png' %}" srcset="{% static 'images/png/logo-black.png' %} 2x" alt="logo">
                    <img class="logo-dark logo-img" src="{% static 'images/png/logo-black.png' %}" srcset="{% static 'images/png/logo-black.png' %} 2x" alt="logo-dark">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-search ms-3 ms-xl-0">
                {% comment %} <em class="icon ni ni-search"></em> {% endcomment %}
                <input type="text" class="form-control border-transparent form-focus-none" placeholder="">
            </div><!-- .nk-header-news -->
            
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>