{% load static %}

<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!--plugins-->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<!--plugins-->
<script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/plugins/metismenu/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/index2.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>