{% load static %}

<aside class="mini-sidebar d-flex align-items-center flex-column justify-content-between">
    <div class="user">
      <a href="#offcanvasUserDetails" data-bs-toggle="offcanvas" class="user-icon">
        <i class="material-icons-outlined">account_circle</i>
      </a>
    </div>
    <div class="quick-menu">
      <nav class="nav flex-column gap-1">
        <a class="nav-link" href="index.html"><i class="material-icons-outlined">home</i></a>
        <a class="nav-link" href="index2.html"><i class="material-icons-outlined">poll</i></a>
        <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">apps</i></a>
        <a class="nav-link" href="ecommerce-products.html"><i class="material-icons-outlined">shopping_cart</i></a>
        <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">forum</i></a>
        <a class="nav-link" href="javascript:;"><i class="material-icons-outlined">event</i></a>
      </nav>
    </div>
    <div class="mini-footer dark-mode">
      <a href="javascript:;" class="footer-icon dark-mode-icon">
        <i class="material-icons-outlined">dark_mode</i>  
      </a>
    </div>
  </aside>