{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}


{% block body %}
<div class="nk-content my-4 ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                        <div class="nk-block-head-content">
                            <h4 class="nk-block-title page-title">{{ request.user.operation_site }}{{ request.user.managed_site }} Admin Dashboard</h4>
                        </div><!-- .nk-block-head-content -->
                    </div><!-- .nk-block-between -->
                </div><!-- .nk-block-head -->
                <div class="nk-block">
                    <div class="row g-gs">
                        <div class="card-inner col-xxl-8 col-md-8 bg-white">
                            <div class="card-title-group align-start mb-3">
                                <div class="card-title">
                                    <h6 class="title">Total Sales Per Site</h6>
                                    
                                </div>
                                
                            </div><!-- .card-title-group -->
                            <div class="nk-order-ovwg">
                                <div class="row g-4 align-end">
                                    <div class="col-xxl-8">
                                        <div class="nk-order-ovwg-ck">
                                            <canvas class="order-overview-chart" id="orderOverview" width="820" height="225" style="display: block; box-sizing: border-box; height: 180px; width: 656px;"></canvas>
                                        </div>
                                    </div><!-- .col -->
                                    <!-- .col -->
                                </div>
                            </div><!-- .nk-order-ovwg -->
                        </div><!-- .col -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card card-full">
                                <div class="card-inner">
                                    <div class="card-title-group">
                                        <div class="card-title">
                                            <h6 class="title">Site Remaining Stock</h6>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="card-inner pt-0">
                                    <ul class="gy-4">
                                        {% for data in dashboard_data.get_all_sites_remaining_stock %}
                                        <li class="border-bottom border-0 border-dashed">
                                            <div class="mb-1">
                                                <span class="fs-2 lh-1 mb-1 text-head">{{ data.remaining_stock }}kg</span>
                                               
                                            </div>
                                            <div class="align-center">
                                                <div class="small text-primary me-2">{{ data.remaining_stock_percentage }}%</div>
                                                <div class="progress progress-md rounded-pill w-100 bg-primary-dim">
                                                    <div class="progress-bar bg-{% if data.remaining_stock_percentage > 50%}success{% else %}warning{% endif %} rounded-pill" data-progress="{{ data.remaining_stock_percentage }}" style="width: {{ data.remaining_stock_percentage }}%;"></div>
                                                </div>
                                                <div class="dropdown ms-3">
                                                    <span class=" sub-text" >{{ data.site }}</span>
                                                 
                                                </div>
                                            </div>
                                        </li>
                                        {% endfor %}
                                        <!-- li -->
                                    </ul>
                                </div>
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <div class="col-xxl-8 col-md-4">
                            <div class="card h-100">
                                <div class="card-inner mb-n2">
                                    <div class="card-title-group">
                                        <div class="card-title card-title-sm">
                                            <h6 class="title">Total Sales Per Site</h6>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="nk-tb-list is-loose">
                                    {% for data in dashboard_data.get_company_site_stats %}
                                    <div class="nk-tb-item nk-tb-head">
                                        <div class="nk-tb-col"><span>Site</span></div>
                                        <div class="nk-tb-col text-end"><span>Requisitions</span></div>
                                        <div class="nk-tb-col text-end"><span>Quantity</span></div>
                                        <div class="nk-tb-col tb-col-sm text-end"><span>Amount</span></div>
                                    </div><!-- .nk-tb-head -->
                                    <div class="nk-tb-item">
                                        <div class="nk-tb-col">
                                            <div class="icon-text">
                                                <em class="icon ni ni-map-pin"></em>
                                                <span class="tb-lead">{{ data.site }}</span>
                                            </div>
                                        </div>
                                        <div class="nk-tb-col text-end">
                                            <span class="tb-sub tb-amount"><span>{{ data.total_requisitions }}</span></span>
                                        </div>
                                        
                                        <div class="nk-tb-col text-end">
                                            <span class="tb-sub tb-amount"><span>{{ data.total_quantity }}kg</span></span>
                                        </div>
                                        
                                        <div class="nk-tb-col tb-col-sm text-end">
                                            <span class="tb-sub">${{ data.total_sales }}</span>
                                        </div>
                                    </div><!-- .nk-tb-item -->
                                    {% endfor %}
                                </div><!-- .nk-tb-list -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        
                        <!-- .col -->
                        <div class="col-xxl-4 col-md-6">
                            <div class="card h-100">
                                <div class="card-inner">
                                    <div class="card-title-group mb-2">
                                        <div class="card-title">
                                            <h6 class="title">Organisation Statistics</h6>
                                        </div>
                                    </div>
                                    <ul class="nk-store-statistics">
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Organisation</div>
                                                <div class="count">{{ dashboard_data.get_company_data.company  }}</div>
                                            </div>
                                            <em class="icon bg-primary-dim ni ni-money"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Total Sites</div>
                                                <div class="count">{{ dashboard_data.get_company_data.company.sites.count }}</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-unarchive"></em>
                                        </li>
                                        
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Total Sales</div>
                                                <div class="count">${{ dashboard_data.get_company_data.total_sales }}</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-truck"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Contact</div>
                                                <div class="count text-dark"><a class="text-dark" href="tel:{{ dashboard_data.get_company_data.company.contact }}">{{ dashboard_data.get_company_data.company.contact }}</a></div>
                                            </div>
                                            <em class="icon ni ni-call bg-purple-dim"></em>
                                        </li>
                                        <li class="item">
                                            <div class="info">
                                                <div class="title">Total Capacity</div>
                                                <div class="count">{{ dashboard_data.get_company_data.capacity }}kg</div>
                                            </div>
                                            <em class="icon bg-purple-dim ni ni-db"></em>
                                        </li>
                                        
                                    </ul>
                                </div><!-- .card-inner -->
                            </div><!-- .card -->
                        </div><!-- .col -->
                        <!-- .col -->
                        <div class="col-xxl-12 col-lg-12">
                            <div class="card h-100">
                                <div class="nk-ecwg nk-ecwg5">
                                    <div class="card-inner">
                                        <div class="card-title-group align-start pb-3 g-2">
                                            <div class="card-title">
                                                <h6 class="title">Total Sales Per Month</h6>
                                            </div>
                                            <div class="card-tools">
                                                <em class="card-hint icon ni ni-help" data-bs-toggle="tooltip" data-bs-placement="left" title="Total Sales"></em>
                                            </div>
                                        </div>
                                        <div class="data-group">
                                            <div class="data">
                                                <div class="title">Monthly</div>
                                                <div class="amount amount-sm">${{ dashboard_data.get_company_data.monthly_average|format_amount  }}</div>
                                               
                                            </div>
                                            <div class="data">
                                                <div class="title">Weekly</div>
                                                <div class="amount amount-sm">${{ dashboard_data.get_company_data.weekly_average|format_amount  }}</div>
                                                
                                            </div>
                                            <div class="data">
                                                <div class="title">Daily (Avg)</div>
                                                <div class="amount amount-sm">${{ dashboard_data.get_company_data.daily_average|format_amount  }}</div>
                                               
                                            </div>
                                        </div>
                                        <div class="nk-ecwg5-ck">
                                            <canvas class="ecommerce-line-chart-s4" id="storeVisitors"></canvas>
                                        </div>
                                        <div class="chart-label-group">
                                            <div class="chart-label">01 Jul, 2020</div>
                                            <div class="chart-label">30 Jul, 2020</div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- .card -->
                        </div>
                    </div><!-- .row -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
{% endblock %}