
{% extends 'layouts/base.html' %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% load static %}

{% block body %}
<div class="nk-content my-5">
<div class="row g-gs">
    <div class="col-lg-6">
        <div class="card h-100">
            <div class="card-inner">
                <div class="card-head">
                    <h5 class="card-title">Sale Info</h5>
                </div>
                <form action="{% url 'transaction_update' sale.pk %}" method="post">
                    {% csrf_token %}
                    <div class="row g-4">
                        {{ form }}
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-primary" value="save">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row g-gs">
        <div class="col-xxl-12 ">
            <div class="card">
                <div class="nk-ecwg nk-ecwg3">
                    <div class="card-inner pb-0">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h6 class="title">Remaining Stock</h6>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">{{ remaining_stock }} kg</div>
                                </div>
                        </div>
                    </div><!-- .card-inner -->
                    <div class="nk-ecwg3-ck"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas class="ecommerce-line-chart-s1 chartjs-render-monitor" id="totalCustomers" width="988" height="132" style="display: block; height: 66px; width: 494px;"></canvas>
                    </div>
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div>
    </div>
    <div class="row g-gs my-1">
        <div class="col-xxl-12 ">
            <div class="card">
                <div class="nk-ecwg nk-ecwg3">
                    <div class="card-inner pb-0">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h6 class="title">Total Sale Cost</h6>
                            </div>
                        </div>
                        <div class="data">
                            <div class="data-group">
                                <div class="amount">${{ sale.total_cost|format_amount }} </div>
                                </div>
                        </div>
                    </div><!-- .card-inner -->
                    <div class="nk-ecwg3-ck"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas class="ecommerce-line-chart-s1 chartjs-render-monitor" id="totalOrders" width="988" height="132" style="display: block; height: 66px; width: 494px;"></canvas>
                    </div>
                </div><!-- .nk-ecwg -->
            </div><!-- .card -->
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}